@model PackerTracker.Models.Pack;

<h1>Results</h1>

@if (@Model.Check())
{
  <p>All components accounted for</p>
} else if (@Model.Check() == false) {
  <p>Missing items</p>
}

@if (@Model.Food == false)
{
  <p>no Food</p>
}
@if (@Model.Tent == false)
{
  <p>no Tent</p>
}
@if (@Model.Water == false)
{
  <p>no Water</p>
}
@if (@Model.BloodSacrifice == false)
{
  <p>no BloodSacrifice</p>
}